@import "component/reset.scss";
@import "component/header.scss";
@import "component/nav.scss";
@import "component/lunbo.scss";
@import "component/footer.scss";
@import "component/scrollbox.scss";

/*recommend*/
#recommend{
	width: 1100px;
	height: 371px;
	margin: 0 auto;
	border-bottom: 1px solid #5e5e5e;
}
#recommend ul{height: 371px;}
#recommend ul li{
	width: 253px;
	height: 338px;
	float: left;
	padding: 0 11px;
	padding-top: 33px; 
}
#recommend ul li img{
	width: 253px;
	height: 186px;
}
#recommend ul li p{
	width: 253px;
	height: 45px;
	line-height: 22px;
	text-align: center;
	font-size: 17px;
	margin: 10px 0;
}
.click{
	display: block;
	width: 130px;
	height: 35px;
	background: #670305;
	margin:0 auto; 
	text-align: center;
	line-height: 35px;
	color: #ffffff;
}

/*newproduct*/
#newproduct{
	width: 1100px;
	height: 464px;
	margin: 0 auto;
	border-bottom: 1px solid #5e5e5e;
}
#newproduct .title{
	font-size:15px;
	text-align: center;
	width: 1100px;
	height: 53px;
	line-height: 53px;
}
#newproduct ul{height: 410px;}
#newproduct ul li{
	width: 253px;
	height: 410px;
	float: left;
	padding: 0 11px;
}
#newproduct ul li img{
	width: 253px;
	height: 225px;
}
#newproduct ul li .name{color: black;}
#newproduct ul li .p_1{
	width: 253px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
}
#newproduct ul li .p_2{
	width: 253px;
	height: 40px;
	margin-top: 26px;
	line-height: 40px;
	text-align: center;
	color: #670305;
}


/*new*/
#new{
	width: 1100px;
	height: 764px;
	margin: 0 auto;
}
#new .title{
	font-size:15px;
	text-align: center;
	width: 1100px;
	height: 53px;
	line-height: 53px;
}
#new img{
	margin: 0 50px;
	display: block;
	width: 1000px;
	height: 711px;
}