<div id="nav1">
	<div class="nav_left">
		<ul class="dn">
			<li class="dn1"><a class="dn_a" href="http://localhost:2333/">首页</a></li>
			<li id="nav_select1" class="nav_select dn1">
				<a class="dn_a" href="http://localhost:2333/html/list-2.html">护肤</a>	
				<div id="box1" class="box">
					<div class="wrap">
						<div class="box_left">
							<div class="title_left">按系列</div>
							<ul>
								<li><a href="http://localhost:2333/html/list.html"><img src="../../images/nav_1.png"></a></li>
								<li><a href=""><img src="../../images/nav_2.png"></a></li>
								<li><a href=""><img src="../../images/nav_3.png"></a></li>
								<li><a href=""><img src="../../images/nav_4.png"></a></li>
								<li><a href=""><img src="../../images/nav_5.png"></a></li>
								<li><a href=""><img src="../../images/nav_6.png"></a></li>
								<li><a href=""><img src="../../images/nav_7.png"></a></li>
								<li><a href=""><img src="../../images/nav_8.png"></a></li>
								<li><a href=""><img src="../../images/nav_9.png"></a></li>
								<li><a href=""><img src="../../images/nav_10.png"></a></li>
							</ul>
						</div>
						<div class="box_right">
							<div class="title_right">按种类</div>
							<ul>
								<li><a href="">卸妆清洁</a></li>
								<li><a href="">爽肤水</a></li>
								<li><a href="">精华</a></li>
								<li><a href="">乳液</a></li>
								<li><a href="">面霜</a></li>
								<li><a href="">眼唇护理</a></li>
								<li><a href="">面膜</a></li>
								<li><a href="">护肤套餐</a></li>
							</ul>
						</div>
						<div class="box_right">
							<div class="title_right">按关心问题</div>
							<ul>
								<li><a href="">干燥.缺水</a></li>
								<li><a href="">色斑.暗沉</a></li>
								<li><a href="">轻熟肌 弹性流失</a></li>
								<li><a href="">熟龄肌 深度老化</a></li>
								<li><a href="">毛孔粗大</a></li>
								<li><a href="">眼周松弛</a></li>
							</ul>
						</div>
					</div>
				</div>					
			</li>

			<li id="nav_select2" class="nav_select dn1">
				<a class="dn_a" href="javascript:;">彩妆</a>
				<div id="box2" class="box">
					<div class="wrap">
						<div class="box_left">
							<div class="title_left">按系列</div>
							<ul>
								<li><a href=""><img src="../../images/nav_11.png"></a></li>
								<li><a href=""><img src="../../images/nav_12.png"></a></li>
								<li><a href=""><img src="../../images/nav_13.png"></a></li>
								<li><a href=""><img src="../../images/nav_14.png"></a></li>
							</ul>
						</div>
						<div class="box_right1">
							<div class="title_right">面部</div>
							<ul>
								<li><a href="">妆前乳</a></li>
								<li><a href="">粉底</a></li>
								<li><a href="">遮瑕</a></li>
								<li><a href="">蜜粉</a></li>
								<li><a href="">腮红</a></li>
							</ul>
						</div>
						<div class="box_right1">
							<div class="title_right">眼部</div>
							<ul>
								<li><a href="">眼影</a></li>
								<li><a href="">眼线</a></li>
								<li><a href="">睫毛膏</a></li>
								<li><a href="">眉笔</a></li>
							</ul>
						</div>
						<div class="box_right1">
							<div class="title_right">唇部</div>
							<ul>
								<li><a href="">唇膏</a></li>
								<li><a href="">唇线</a></li>
							</ul>
						</div>
						<div class="box_right1">
							<div class="title_right">彩妆其他</div>
							<ul>
								<li><a href="">粉盒</a></li>
								<li><a href="">刷子</a></li>
								<li><a href="">工具</a></li>
							</ul>
						</div>
					</div>						

				</div>
			</li>
			<li class="dn1"><a class="dn_a" href="javascript:;">男士</a></li>
			<li class="dn1"><a class="dn_a" href="javascript:;">防嗮</a></li>
			<li class="dn1"><a class="dn_a" href="javascript:;">11.11</a></li>
			<li class="dn1"><a class="dn_a" href="javascript:;">明星产品</a></li>
			<li class="dn1"><a class="dn_a" href="javascript:;">官方购物理由</a></li>
		</ul>
		<span>|</span>
		<p><a class="dn_a" href="javascript:;">品牌故事</a></p>
		<p><a class="dn_a" href="javascript:;">专柜导航</a></p>
	</div>
	<form class="nav_right">
		<input type="text" placeholder="商品搜索" class="text">
		<input type="button" name="" class="btn">
	</form>
</div>	